
body{
  background-color: #e7ddd3;
}
.mt-custom {
  margin-top: 70px;  
}

.mb-custom {
  margin-bottom: 70px;  
}

.pt-custom {
  padding-top: 70px;  
}

.pb-custom {
  padding-bottom: 70px;  
}



.navbar-custom {
    justify-content: center;
    background-color: #c0c2bd;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: absolute;
    border-radius: 10px;

  }
  
  .navbar-custom .navbar-nav {
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin: 0;
    list-style: none;
    justify-content: space-around;
    gap: 10px;
    

  }
  
  .navbar-custom .nav-link {
    justify-content: center;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    color: #343A40;
    text-decoration: none;
    transition: color 0.3s ease;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-family: 'Poppins', sans-serif;
  }

.p{
  color: black;
  font-size: 20px;
}
  
.titulo-bukana{
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  transition: color 0.3s ease;
  cursor: pointer;
  transition: color 0.3s ease;
  text-decoration: none;
  padding: 15px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  border: none;
  background-color: #f1f1f1;
  transition: color 0.3s ease;
  border: none;
  background-color: #29251c;
  width: 900px;
  margin-left: 350px;
  
  
}

.card-bicis{
  height: 550px;
 
  background-color: #29251c;
  color: #f1f1f1;
}


.img-carrusel{
  height: 800px;
  
}


.imagen-bicis-card{
  height: 400px;
}



.imagen-bukana1{
    margin-bottom: 20px;
    width: 300px;
    height: 300px;
}


.formulario-contacto{
  margin-top: 100px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  background-color: #f1f1f1;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.5px;
  font-weight: bold;
  text-align: center;


}
